.nav-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    margin-left: 30pt;
    margin-right: 30pt;
  }
  
  .nav {
    font-weight: bold;
    cursor: pointer;
  }
  
  .back {
    color: rgba(128, 128, 128, .75);
  }
  
  .done {
    color: #424ea6;
  }
  
  .nav-dots {
    flex: 1;
    display: flex;
    align-self: center;
    justify-content: center;
  }
  
  .nav-dot {
    margin-left: 3pt;
    margin-right: 3pt;
  }
  
  .active-nav {
    height: 7pt;
    width: 7pt;
    border-radius: 7pt;
    background-color: #424ea6;
  }
  
  .inactive-nav {
    background-color: rgba(128, 128, 128, .5);
    height: 5pt;
    width: 5pt;
    border-radius: 5pt;
  }