/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.options {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-left: 10pt;
  margin-right: 10pt;
}

.option {
  padding: 3pt;
  padding-left: 7pt;
  padding-right: 7pt;
  border-radius: 7pt;
  margin-bottom: 10pt;
  width: 80pt;
  height: 40pt;
  display: table;
  cursor: pointer;
}

.option-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 11pt;
  font-weight: bold;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.active-opt {
  color: white;
  background-color: #424ea6;
  border: solid #424ea6;
}

.inactive-opt {
  color: grey;
  border: solid rgba(128, 128, 128, .15);
}

.form-text {
  text-align: center;
}

.form-question {
  margin-left: 20pt;
  margin-right: 20pt;
  font-size: x-large;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10pt;
  margin-right: 10pt;
}

.nav {
  font-weight: bold;
}

.back {
  color: rgba(128, 128, 128, .75);
}

.done {
  color: #424ea6;
}

.nav-dots {
  display: flex;
  align-self: center;
  margin-left: 5pt;
  margin-right: 5pt;
}

.nav-dot {
  margin-left: 5pt;
  margin-right: 5pt;
}

.active-nav {
  height: 7pt;
  width: 7pt;
  border-radius: 7pt;
  background-color: #424ea6;
}

.inactive-nav {
  background-color: rgba(128, 128, 128, .5);
  height: 5pt;
  width: 5pt;
  border-radius: 5pt;
}